<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js 演習問題</title>
    <link rel="stylesheet" href="style.css" >
    <script src=
      "https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
  </head>
  
  <body>
    <h2>入力した数値のたし算</h2>
    <div id="app">
      <p>数値１＝<input v-model="value1"></p>
			<p>数値２＝<input v-model="value2"></p>
			<p>足し算：{{value1}}+{{value2}}
				={{parseInt(value1)+parseInt(value2)}}</p>
    </div>
    <!-- グローバル関数のひとつである parseInt 関数は、
			文字列を整数に変換した値を返す -->

    <script>
      new Vue({
				el:'#app',
				data:{
					value1:'',
					value2:''
				}
      })
    </script>
  </body>

</html>
